name: API Tests

on:
  push:
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker run --rm \
            -v ${{ github.workspace }}/.apitect:/app/.apitect \
            -e APITECT_API_KEY="${{ secrets.APITECT_API_KEY }}" \
            -e ENVIRONMENT="${{ vars.ENVIRONMENT }}" \
            apoorvbhatt/apoorv-abc-test:latest
